.main_div {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

/* .output_div{
    width: 80%;
    height: auto;
    border: 2px solid #0000;
    margin: 0px auto;
} */